
/*CSS-variables*/
:root {
    --dark-color: #475b64;
    --dark-transparent: #475b649d; 
    --light-color: hsl(22, 44%, 74%);
    --light-transparent: hsla(22, 44%, 74%, 0.395);
    --medium-color: #d1a187;
    --medium-transparent: #d1a187b4;
}

@font-face {
    font-family: TiroKannada;
    src: url('../fonts/TiroKannada-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-color);
    text-align: center;
    font-family: TiroKannada;
    color: var(--dark-color);
}


.intro-image {
    background-attachment: fixed;
    background-image: url('../images/palmtrees.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    position: relative;
}

.intro-image__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.intro-image__link a {
    background-color: var(--medium-transparent);
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
    font-size: 2.5rem;
    display: inline-block;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out ;
}

.intro-image__link a:hover, 
.quality-image__link a:hover, 
.origin-image__link a:hover  {
    transform: scale(1.2);
}

.intro-text {
    display: flex;
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 150px;
    padding: 0 15rem;
    justify-content: center;
    align-items: center;
}

.intro-text h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.quality-image__link a {
    background-color: var(--dark-transparent);
    border: 3px solid var(--light-color);
    color: var(--light-color);
    font-size: 2rem;
    display: inline-block;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out ;
}

.quality-text {
    display: flex;
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 150px;
    padding: 0 15rem;
    justify-content: center;
    align-items: center;
}
.quality-text h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url('../images/glasses.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    position: relative;
}

.origin-image__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.origin-image__link a {
    background-color: var(--light-transparent);
    border: 2.5px solid var(--dark-color);
    color: var(--dark-color);
    font-size: 2.5rem;
    display: inline-block;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out ;
}

.origin-text {
    display: flex;
    background-color: var(--dark-color);
    color: var(--medium-color);
    height: 150px;
    padding: 0 15rem;
    justify-content: center;
    align-items: center;
}

.origin-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: var(--medium-color);
    color: var(--dark-color);
    font-size: 1.5rem;
}

.contact {
    padding-top: 2rem;
}

.contact ul li {
    display: inline-block;
    margin: 1rem;
}

.contact ul li a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 0.5 ease-in-out;

}

.contact ul li a:hover {
    color: var(--dark-transparent);
}

.footer top {
    font-size: 1.5rem;
}
